.div__projects_single{
    background-color: #333539;
    border: 2px solid #171717;
    cursor: pointer;
    text-align: left;
    transition: 0.5s;
    margin: 10px 0px;
    padding: 0px !important;    
}
.div__projects_single:hover{
  border: 2px solid #dfac13;
  border-radius: 0px 0px 15px 15px;
  box-shadow: rgba(233, 172, 23, 0.2) 0px 8px 24px;
  transition: 0.5s;
}

.div__projects_single a {
    background-image: linear-gradient(to right, #dfac13, #dfac13 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: text;    
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .div__projects_single a:before {
    background: #dfac13;
    bottom: -3px;
    content: "";
    display: block;
    left: 0;
    height: 3px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0;
  }
  
  .div__projects_single a:hover {
    background-position: 0;
  }
  
  .div__projects_single a:hover::before {
    width: 100%;
  }
  .div__icons__projects{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    width: 100%;
    gap: 15px;
  }
  @media only screen and (max-width: 600px) {
    .div__projects_single{
      max-width: 100% !important;
    }
  }
  