.portfolio__tabs{
    background-color: #171717;
}
.portfolio__tabs button{
    color: #fff
}
.portfolio__tabs button:focus{
    color: #fff
}
.portfolio__tabs button:hover{
    border-color: #dfac13 !important;
    color: #dfac13;
}
.portfolio__tabs button.active{
    background-color: transparent !important;
    color: #dfac13 !important;
    border-color: #dfac13 !important;
}
.caption__carousel{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}