.menu{
    background-color: #171717;
}
.navbar-toggler{
    border: none !important;
}
.link__menu__res{
  /* max-width: 30%; */
}
.link__menu__res a{
  color: #fff;
}
.link__menu__res a:hover{
  color: #fff;
}

@media (min-width: 425px) and (max-width: 990px) {
  #navMenu{
    background-color: #333539;
    padding: 20px;
    border-radius: 5px;
  }
}

.link__menu a {
    background-image: linear-gradient(to right, #dfac13, #dfac13 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: text;    
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .link__menu a:before {
    background: #dfac13;
    bottom: -3px;
    content: "";
    display: block;
    left: 0;
    height: 3px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0;
  }
  
  .link__menu a:hover {
    background-position: 0;
  }
  
  .link__menu a:hover::before {
    width: 100%;
  }
  button[aria-controls='navMenu']{
    background-color: #fff;;
  }
  
  .btn__resume{
    background-color: #dfac13 !important;
    border: none !important;
    width: 100%;
  }