@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#root{
    background-color: #171717;
    color: #fff;
}
hr{
    color: #fefefe !important;
}
.footer__bg{
    background-color: #171717;
}

h1, h2, h3, p{
    color: #fff
}
h1, h2, h3{
    font-family: 'Anton', sans-serif;
}

h1{
    font-weight: bold;
}
h2{
    font-weight: 300;
}
h3{
    font-size: 14px !important;
    letter-spacing: 1px;    
}