@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    box-sizing: border-box;
}


#root{
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(7) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 9%, 1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(45, 84%, 47%, 0.06)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-260.60999999999996)' fill='url(%23a)'/></svg>");
    /* background-color: #171717; */
    color: #fff;
}
hr{
    color: #fefefe !important;
}
.footer__bg{
    background-color: #171717;
}

h1, h2, h3, h4, p{
    color: #fff
}
h1, h2, h3{
    font-family: 'Anton', sans-serif;
}

h1{
    font-weight: bold;
}
h2{
    font-weight: 300;
}
h3{
    font-size: 16px !important;
    letter-spacing: 1px;    
}
h4{
    font-family: 'Courier New', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
p, li{
    font-family: 'Courier New', Courier, monospace, sans-serif;
}
a{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-decoration: none !important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: #dfac13 !important;
}

/*PRIDE*/
@keyframes moveRightToLeft {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.js-pride-month-gradient{
    height: 0.8rem;
    z-index: 1010;
    background: linear-gradient(90deg,rgb(100,91,83) 0%,rgb(235,82,82) 18.23%,rgb(247,143,47) 34.37%,rgb(244,193,81) 48.96%,rgb(82,187,118) 66.15%,rgb(38,165,215) 82.29%,rgb(224,105,183) 100%);
    background-size: 200% 100%; 
    animation: moveRightToLeft 2s alternate-reverse infinite; /* La animación durará 5 segundos, será lineal y se repetirá infinitamente */
}

/*Scrollbar*/
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #dfac13;
	border: 2px solid #555555;
}

b{
    color:#dfac13;
}