.div__fixed{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
.div__contact{
    position: absolute;
    bottom: 0;
    left: 0;
}

.div__painted{
    background-color: #171717;
}
.div__contact a{
    padding: 0px .8rem;
    color: #dfac13;
    letter-spacing: 0.1em;
    -webkit-writing-mode: sideways-rl;
    writing-mode: vertical-rl;
}
.div__contact a:hover{
    color: #fff;
}