.container__banner{    
    min-height: 600px;
    background-color: #171717;
}
.name{
    font-size: 4rem;
}

.div__bg{
    height: 800px;
    background-image: url('/src/assets/yo-webp.webp');
    background-attachment: fixed; 
    background-size: 50%; 
    background-repeat: no-repeat; 
    background-position: 100%; 
}
.div__bg2{
    height: 800px;
    background-image: url('/src/assets/img-profile.png');
    background-attachment: fixed; 
    background-size: 50%; 
    background-repeat: no-repeat; 
    background-position: 100%; 
}