.container__banner{    
    min-height: 600px;
    background-color: #171717;
}
.name{
    font-size: 4rem;
}
.image__profile{
    height: auto;
    width: 100%; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
}
.col__description{
    margin-bottom: 30px;
}
